## Warehouse Demo

In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouse.db 
conn = sqlite3.connect('CourseDataWarehouse.db')

Search for Classes taught by Professor Huntley in Fall of 2017

In [17]:
%%sql
SELECT cm.crn, cm.location_code, cm.program_code, cm.catalog_id, cm.title, i.instructor_id, i.instructor_name, cp.program_name
FROM CLASSMEETINGS cm
JOIN CLASSPROGRAMS cp USING (program_code)
JOIN CLASSINSTRUCTORS i USING (instructor_id)
WHERE instructor_name LIKE '%Huntley' AND term = 'Fall2017';

 * sqlite:///CourseDataWarehouse.db
Done.

[(71153, 'DSB 110A', 'IS', 'IS 0240', 'Systems Analysis and Logical Design', 272, 'Christopher L.  Huntley', 'Information Systems'),
 (73088, None, 'IS', 'IS 0399', 'Independent Study', 272, 'Christopher L.  Huntley', 'Information Systems'),
 (72913, 'DSB 115', 'IS', 'IS 0505', 'Python for Business Analytics', 272, 'Christopher L.  Huntley', 'Information Systems'),
 (72914, 'DSB 115', 'IS', 'IS 0510', 'Databases for Business Analytics', 272, 'Christopher L.  Huntley', 'Information Systems')]

Search for Classes offered on Fridays in Spring of 2019

In [25]:
%%sql
SELECT DISTINCT cm.term, cm.program_code, cm.crn, cm.catalog_id, cm.title, cm.location_code, cm.program_code, tc.time_codes
FROM CLASSMEETINGS cm
JOIN TIME_CODES tc USING(time_codes)
WHERE day = 'F' AND term = 'Spring2019' AND cm.program_code = 'IS'
ORDER BY cm.title;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Spring2019', 'IS', 37140, 'IS 0100', 'Introduction to Information Systems', 'DSB 104', 'IS', "['TF 0800am-0915am 01/22-04/30 DSB 104']"),
 ('Spring2019', 'IS', 37141, 'IS 0100', 'Introduction to Information Systems', 'DSB 104', 'IS', "['TF 0930am-1045am 01/22-04/30 DSB 104']"),
 ('Spring2019', 'IS', 37142, 'IS 0100', 'Introduction to Information Systems', 'DSB 109', 'IS', "['TF 1100am-1215pm 01/22-04/30 DSB 109']"),
 ('Spring2019', 'IS', 37143, 'IS 0100', 'Introduction to Information Systems', 'DSB 109', 'IS', "['TF 1230pm-0145pm 01/22-04/30 DSB 109']"),
 ('Spring2019', 'IS', 37574, 'IS 0100', 'Introduction to Information Systems', 'NHS 403', 'IS', "['TF 1100am-1215pm 01/22-04/30 NHS 403']"),
 ('Spring2019', 'IS', 38339, 'IS 0100', 'Introduction to Information Systems', 'NHS 403', 'IS', "['TF 1230pm-0145pm 01/22-04/30 NHS 403']"),
 ('Spring2019', 'IS', 37577, 'IS 0240', 'Systems Analysis and Logical Design', 'DSB 106', 'IS', "['TF 0330pm-0445pm 01/22-04/30 DSB 106']")]

Counts the number of Classes in a given  Building in Spring of 2019

In [47]:
%%sql
SELECT cm.term, cl.building, COUNT(cm.crn)
FROM CLASSMEETINGS cm
JOIN CLASSLOCATIONS cl USING (location_code)
WHERE term = 'Spring2019'
GROUP BY cl.building;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Spring2019', 'BH ', 3),
 ('Spring2019', 'BLM', 3),
 ('Spring2019', 'BNW', 312),
 ('Spring2019', 'BY ', 4),
 ('Spring2019', 'CMC', 5),
 ('Spring2019', 'CNS', 327),
 ('Spring2019', 'DH ', 3),
 ('Spring2019', 'DLH', 1),
 ('Spring2019', 'DMH', 126),
 ('Spring2019', 'DSB', 179),
 ('Spring2019', 'DW ', 8),
 ('Spring2019', 'FBR', 5),
 ('Spring2019', 'GBM', 4),
 ('Spring2019', 'GNZ', 2),
 ('Spring2019', 'GR ', 3),
 ('Spring2019', 'JGS', 11),
 ('Spring2019', 'LCH', 4),
 ('Spring2019', 'LNG', 10),
 ('Spring2019', 'LUD', 2),
 ('Spring2019', 'LYL', 13),
 ('Spring2019', 'MCA', 29),
 ('Spring2019', 'NHS', 174),
 ('Spring2019', 'NOR', 4),
 ('Spring2019', 'ONL', 4),
 ('Spring2019', 'STA', 8),
 ('Spring2019', 'STM', 2),
 ('Spring2019', 'STV', 4),
 ('Spring2019', 'SWH', 11),
 ('Spring2019', 'VA ', 8),
 ('Spring2019', 'XVR', 12),
 ('Spring2019', 'YAL', 22)]

Finds which classes Professor Huntley teaches on Wednesdays of the Spring 2018 semester

In [56]:
%%sql
SELECT DISTINCT cm.crn, cm.location_code, cm.program_code, cm.catalog_id, cm.title, i.instructor_name, cp.program_name, tc.day, tc.time_codes
FROM CLASSMEETINGS cm
JOIN CLASSPROGRAMS cp USING (program_code)
JOIN CLASSINSTRUCTORS i USING (instructor_id)
JOIN TIME_CODES tc USING(time_codes)
WHERE instructor_name LIKE '%Huntley' AND term = 'Spring2018' AND day = 'W';

 * sqlite:///CourseDataWarehouse.db
Done.

[(35141, 'DSB 104', 'IS', 'IS 0320', 'Systems Design and Implementation', 'Christopher L.  Huntley', 'Information Systems', 'W', "['W 0200pm-0430pm 01/16-05/01 DSB 104']")]