## Warehouse Demo

In [3]:
%load_ext sql
import pandas as pd
import sqlite3

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql sqlite:///CourseDataWarehouse.db 
conn = sqlite3.connect('CourseDataWarehouse.db')

Search for Classes taught by Professor Huntley in Fall of 2017

In [19]:
%%sql
SELECT cm.crn, cm.location_code, cm.program_code, cm.catalog_id, cm.title, i.instructor_id, i.instructor_name, cp.program_name
FROM CLASSMEETINGS cm
JOIN CLASSPROGRAMS cp USING (program_code)
JOIN CLASSINSTRUCTORS i USING (instructor_id)
WHERE instructor_name LIKE '%Huntley' AND term = 'Fall2017';

   sqlite:///CourseData.db
 * sqlite:///CourseDataWarehouse.db
Done.

[(71153, 'DSB 110A', 'IS', 'IS 0240', 'Systems Analysis and Logical Design', 272, 'Christopher L.  Huntley', 'Information Systems'),
 (73088, None, 'IS', 'IS 0399', 'Independent Study', 272, 'Christopher L.  Huntley', 'Information Systems'),
 (72913, 'DSB 115', 'IS', 'IS 0505', 'Python for Business Analytics', 272, 'Christopher L.  Huntley', 'Information Systems'),
 (72914, 'DSB 115', 'IS', 'IS 0510', 'Databases for Business Analytics', 272, 'Christopher L.  Huntley', 'Information Systems')]